<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find orbita2d_description)/ros2_control/joint.ros2_control.xacro"/>

  <xacro:macro name="orbita2d_control" params="name joint1 joint2 config_file axis1_inverted axis2_inverted">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!-- Use real hardware. -->
        <xacro:unless value="$(arg use_fake_hardware)">
          <plugin>orbita2d_system_hwi/Orbita2dSystem</plugin>
          <param name="config_file">${config_file}</param>
          <param name="axis1_inverted">${axis1_inverted}</param>
          <param name="axis2_inverted">${axis2_inverted}</param>

        </xacro:unless>

        <xacro:if value="$(arg use_fake_hardware)">
          <!-- Use gazebo as hardware simulation. -->
          <xacro:if value="$(arg use_gazebo)">
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
          </xacro:if>

          <!-- Use fake components. -->
          <xacro:unless value="$(arg use_gazebo)">
            <plugin>fake_components/GenericSystem</plugin>
          </xacro:unless>
        </xacro:if>
      </hardware>
      <xacro:position_joint_control name="${name}_${joint1}"/>
      <xacro:position_joint_control name="${name}_${joint2}"/>

    </ros2_control>

  </xacro:macro>
</robot>
